h1, h2, h5 {
  font-family: Merriweather;
}

h1
{
  text-align: center;
}

.dashboard-pane {
    background-color: #E8EAEE;
    border-radius: 5px;
    border: 2px solid #687696;
    padding: 20px;
    margin: 20px;
}

.fa-star {
    padding: 5px;
    color: #49B52C;
}

.fa-star:hover {
    padding: 5px;
    color: #7bed5c;
    text-shadow: 0px 0px #49B52C;
    blur-radius: 5px;
}

.fa-warning {
    padding: 5px;
    color: #D8BC35;
}

.fa-exclamation-circle {
    padding: 5px;
    color: #D84435;
}

.fa-question {
    color: #212529;
}

.fa-question:hover {
    color: #0056b3;
    text-shadow: 3px 2px red;
    text-decoration: underline overline;
    blur-radius: 5px;
}

.fa-refresh {
    color: #212529;
}

.fa-refresh:hover {
    color: #0056b3;
    text-decoration: underline overline;
}
