h1, h2, h5 {
  font-family: Merriweather;
}

h1
{
  text-align: center;
}

.dashboard-pane {
    background-color: #E8EAEE;
    border-radius: 5px;
    border: 2px solid #687696;
    padding: 20px;
    margin: 20px;
}

.fa-star {
    padding: 5px;
    color: #49B52C;
}

.fa-warning {
    padding: 5px;
    color: #D8BC35;
}

.fa-exclamation-circle {
    padding: 5px;
    color: #D84435;
}
